.titulo{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 30px;
}

html, body{
    background-color: #2F4F30;
    color: white;
    margin: 0px ;
}

.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #maquina-cartas {
    height: 240px;
}